[submodule "config/community/hass-circadian_lighting"]
	path = config/community/hass-circadian_lighting
	url = git@github.com:claytonjn/hass-circadian_lighting.git
[submodule "config/www/lovelace-slider-entity-row"]
	path = config/www/lovelace-slider-entity-row
	url = https://github.com/thomasloven/lovelace-slider-entity-row.git
